#pLeagueTitle{
    color:slateblue;
    font-size: 35px;
    font-weight: 900; 
    margin-left: 49px;
 }


 .fixture {
   margin-top: -950px;
   margin-left: 700px;
   float: left;
 }

 #fixtureTitle{
   margin-left: 98px;
 }

 .container {
   margin-left:700px;
   margin-top: 40px;
   font-family: Arial, Helvetica, sans-serif;
 }

 #pLogo {
   float: left;
   margin-left: -550px;
   margin-top: -900px;
 }