table {
<<<<<<< HEAD
    width:20%;    
  }
  table, th, td {
    border-collapse: collapse;
  }
  
  tr:hover {background-color:#f5f5f5;}
  
  th, td {
    padding: 7.5px;
    text-align: center;
  }
  table.PremierLeagueTable th {
    background-color: black;
    color: white;
  }

  table.fixtureTable  td{
    border: 1px solid grey;
  }
  table.fixtureTable th {
    background-color: black;
    color: white;
  }

  
=======
  width:20%;    
}
table, th, td {
  border-collapse: collapse;
}

tr:hover {background-color:#f5f5f5;}

th, td {
  padding: 5px;
  text-align: center;
}
table.premierLeagueTable th {
  background-color: black;
  color: white;
}

table.premierLeagueFixtureTable  td{
  border: 1px solid grey;
}
table.premierLeagueFixtureTable th {
  background-color: black;
  color: white;
}
>>>>>>> berabulut-patch-1
