
table {
    width:20%;    
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 7.5px;
    text-align: center;
  }
  table.PremierLeagueTable  tr:nth-child(even) {
    background-color: #eee;
  }
  table.PremierLeagueTable  tr:nth-child(odd) {
   background-color: #fff;
  }
  table.PremierLeagueTable th {
    background-color: black;
    color: white;
  }

 #pLeagueTitle{
    color:slateblue;
    font-size: 35px;
    font-weight: 900; 
    margin-left: 49px;
 }